.background-image{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.btn{
	padding: 10px;
	border-radius: 2px;
	background-color: $btn-bgc;
	transition: .3s;
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 500;
	text-shadow: none !important;
	color: white;
	text-transform: uppercase;
	&:hover{
		background-color: $btn-bgc-hover;
	}
}

.link{
	cursor: pointer;
	word-break: break-all;
	transition: .3s;
	text-align: left;
	@include breakpointMax(xxs){
    font-size: 1.1rem;
  }
	@include breakpointMax(xxxs){
    font-size: .9rem;
  }
	&:hover{
		color: $link-color-hover;
	}
}

.content{
	width: 100%;
	max-width: 2500px;
	height: 100%;
	position: relative;
	animation: bg .4s linear;
	@keyframes bg {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100%;
		}
	}
}

.home-info{
	z-index: 1;
	position: absolute;
	top: 25%;
	left: 10%;
	color: $font-color;
	text-shadow: $text-shadow;
	width: 600px;
	background-color: $about-me-bgc-color;
	padding: 15px;
	animation: bg .6s linear;
	@keyframes bg {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100%;
		}
	}
	@include breakpointMax(md){
    width: 80%;
		top: 10%;
		margin: auto;
		padding: 15px;
  }
	@include breakpointMax(xs){
		padding: 15px;
    width: 100%;
		left: 0;
  }
	@include breakpointMax(xxs){
		top: 5%;
  }
	&__name-container{
		display: flex;
		margin-bottom: 10px;
		@include breakpointMax(xxxs){
			flex-direction: column;
		}
	}
	&__picture{
		margin-right: 15px;
		img{
			width: 150px;
			border-radius: 2px;
			filter: brightness(95%);
			@include breakpointMax(sm){
				width: 140px;
			}
			@include breakpointMax(sm){
				width: 130px;
			}
		}
		@include breakpointMax(xxxs){
			margin: 0;
		}
	}
	&__name{
		display: flex;
		min-height: 100%;
		flex-direction: column;
		justify-content: space-around;
		font-size: 3.2rem;
		text-align: left;
		text-transform: uppercase;
		@include breakpointMax(sm){
			font-size: 2.8rem;
		}
		@include breakpointMax(sm){
			font-size: 2.6rem;
		}
		@include breakpointMax(sm){
			font-size: 2.4rem;
		}
		@include breakpointMax(xxs){
			font-size: 2.2rem;
		}
		@include breakpointMax(320px){
			font-size: 1.8rem;
		}
		@include breakpointMax(xxxs){
			margin-top: 5px;
			flex-direction: row;
		}
	}
	&__about-me{
		text-align: justify;
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
	&__btn-more-info{
		display: flex;
		align-items: center;
		letter-spacing: 1px;
		padding: 7px;
		background-color: $btn-bgc;
		width: 160px;
		border-radius: 2px;
		transition: .3s;
		text-shadow: none;
		letter-spacing: 1px;
		cursor: pointer;
		@include breakpointMax(xs){
			width: 140px;
		}
		&:hover{
			background-color: $btn-bgc-hover;
		}
		a{
			display: block;
			font-size: 1rem;
			width: 100%;
			color: $font-color;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
			@include breakpointMax(xs){
				font-size: .9rem;
			}
			@include breakpointMax(xxs){
				font-size: .85rem;
			}
			i{
				margin-left: 5px;
				transition: .3s;
			}
			&:hover{
				i{
					transform: translateX(5px);
				}
			}
		}
  }
	&__more-info{
		display: flex;
		justify-content: space-between;
		@include breakpointMax(xxs){
			flex-direction: column;
			align-items: center;
			height: 90px;
		}
	}
	&__media-links-container{
		display: flex;
	}
	&__media-link{
		@include media-link;
	}
	.cv{
		margin-right: 0;
		font-size: 1.6rem;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		@include breakpointMax(xs){
			font-size: 1.4rem;
		}
	}
}

.skills-info{
	@include page-container;
	&__header{
		@include content-header;
	}
	&__skills-container{
		@include element-container;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__skill-item{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		padding: 20px;
		background-color: $element-bgc-color;
		margin-bottom: 10px;
		width: 100%;
		@include breakpointMax(sm){
			flex-direction: column;
		}
	}
	&__skill-name-container{
		min-height: 40px;
		align-items: center;
		display: flex;
		border-right: $border;
		@include breakpointMax(sm){
			border-right: none;
		}
	}
	&__skill-icon{
		min-width: 40px;
		margin-right: 20px;
		font-size: 2.5rem;
		&.icon{
			display: block;
			font-size: 1.9rem;
		}
	}
	&__skill-name{
		text-align: left;
		font-size: 1.3rem;
		min-width: 120px;
		font-weight: 500;
	}
	&__skill-description{
		padding-bottom: 10px;
		margin-left: 50px;
		font-size: 1.2rem;
		transform: translateY(4px);
		text-align: justify;
		@include breakpointMax(sm){
			align-self: flex-start;
			border-top: $border;
			padding: 10px;
			margin: 0;
			width: 100%;
		}
	}
}

.contact{
	@include page-container;
	&__header{
		@include content-header;
	}
	&__info-container{
		@include element-container;
	}
	&__info{
		padding: 20px;
		width: 100%;
		font-size: 1.2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: $element-bgc-color;
		a{
			padding: 5px 0;
			color: white;
			text-decoration: none;
			cursor: pointer;
			i{
				margin-right: 10px;
				font-size: 1.6rem;
				transform: translateY(2px);
			}
		}
	}
	&__form-container{
		@include element-container;
	}
	&__form{
		width: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		color: white;
		text-align: left;
		background-color: $element-bgc-color;
		textarea{
			min-height: 200px;
		}
	}
	&__form-label{
		text-transform: uppercase;
		font-size: 1rem;
		text-shadow: $text-shadow;
		letter-spacing: 1px;
		transition: .3s;
		padding: 15px 0;
		font-weight: 500;
		@include breakpointMax(sm){
			font-size: 1rem;
		}
		&--error{
			color: $font-color-error;
			text-shadow: none;
		}
	}
	&__form-input{
		max-width: 100%;
		background-color: $input-bgc-color;
		border: none;
		padding: 10px;
		color: $font-color;
		font-size: .9rem;
		letter-spacing: 1px;
		transition: .3s;
		&--error{
			box-shadow: inset 0px 0px 0px 2px rgba(167, 36, 46, 0.39);
		}
		&--validated{
			box-shadow: inset 0px 0px 0px 2px rgba(9, 97, 35, 0.39);
		}
		&::placeholder{
			color: rgb(190, 190, 190);
			text-align: left;
		}
		&:focus{
			color: $font-color;
			outline: none;
		}
	}
	&__form-submit{
		border: none;
		padding: 10px;
		margin-top: 20px;
		width: 130px;
		align-self: center;
		i{
			margin-left: 5px;
			font-size: 1.2rem;
			transition: .3s;
		}
		&:hover{
			i{
				transform: translateX(5px);
			}
		}
	}
}

.about{
	@include page-container;
	justify-content: flex-start;
	&__header{
		@include content-header;
		width: 45%;
		@include breakpointMin(2000px){
			width: 35%;
		}
		@include breakpointMax(xl){
			width: 55%;
		}
		@include breakpointMax(lg){
			width: 70%;
		}
		@include breakpointMax(md){
			width: 80%;
		}
		@include breakpointMax(sm){
			padding-left: 20px;
			width: 100%;
		}
	}
	&__info-container{
		padding-left: 20px;
		display: flex;
		width: 45%;
		margin-bottom: 20px;
		@include breakpointMin(2000px){
			width: 35%;
		}
		@include breakpointMax(xl){
			width: 55%;
		}
		@include breakpointMax(lg){
			width: 70%;
		}
		@include breakpointMax(md){
			width: 80%;
		}
		@include breakpointMax(sm){
			padding: 0;
			width: 100%;
		}
		@include breakpointMax(sm){
			padding: 20px;
			width: 100%;
			flex-direction: column;
			background-color: $about-me-bgc-color;
		}
	}
	&__info{
		width: 100%;
		font-size: 1.2rem;
		padding-left: 20px;
		text-align: justify;
		@include breakpointMax(sm){
			padding-left: 0;
			max-width: 100%;
			flex-direction: column;
		}
		p{
			max-width: 100%;
			margin-bottom: 10px;
			@include breakpointMax(sm){
				text-shadow: $text-shadow;
			}
		}
	}
	&__photo{
		display: flex;
		flex-direction: column;
		@include breakpointMax(sm){
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}
		img{
			border-radius: 2px;
			width: 230px;
			filter: brightness(100%);
			@include breakpointMax(sm){
				width: 180px;
				margin-bottom: 20px;
			}
			@include breakpointMax(xxs){
				width: 135px;
				margin-bottom: 20px;
			}
			@include breakpointMax(xxxs){
				width: 110px;
			}
		}
	}
	&__media-links{
		padding: 5px;
	}
	&__media-links-header{
		border-bottom: $border;
		text-align: left;
		padding: 5px 0;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 1rem;
		@include breakpointMax(sm){
			margin-left: 10px;
			padding: 0 0 5px 0;
		}
		@include breakpointMax(xxxs){
			font-size: .9rem;
		}
	}
	&__media-links-container{
		display: flex;
		justify-content: flex-start;
		@include breakpointMax(xxxs){
			justify-content: center;
		}
	}
	&__media-link{
		@include media-link;
		@include breakpointMax(xxs){
			margin: 0 4px;
		}
		@include breakpointMax(xxxs){
			margin: 0 4px;
			font-size: 1.5rem;
			width: 30px;
		}
	}
	&__button{
		display: block;
		margin-top: 15px;
		width: 130px;
		text-align: center;
		text-transform: uppercase;
		i{
			transition: .3s;
		}
		&:hover{
			i{
				transform: translateY(4px);
			}
		}
	}
}

.projects{
	@include page-container;
	&__header{
		@include content-header;
	}
	&__container{
		@include element-container;
	}
	&__item{
		width: 100%;
		margin-bottom: 60px;
		background-color: $element-bgc-color;
		box-shadow: -1px -6px 8px -10px rgb(255, 255, 255);
	}
	&__image-container{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	&__image{
		display: block;
		border-radius: 2px;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: brightness(55%);
		transition: .3s;
		cursor: pointer;
		&:hover{
			transform: scale(1.1);
			filter: brightness(100%);
		}
		&:hover ~ .projects__name{
			transition: .3s;
			display: none;
		}
	}
	&__name{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 4rem;
		font-weight: 500;
		text-transform: uppercase;
		text-shadow: 1px 1px black;
		transition: .3s;
		width: 90%;
		@include breakpointMax(sm){
			font-size: 3rem;
			padding: 0 10px;
		}
	}
	&__info{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
		font-size: 1.2rem;
		i{
			margin-right: 5px;
			font-size: 1.5rem;
			transform: translateY(3px);
		}
	}
	&__description{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: justify;
		padding: 10px 0;
	}
	&__technologies{
		padding: 10px 0;
		text-align: left;
	}
	&__link{
		padding: 10px 0;
		color: $font-color;
		text-decoration: none;
	}
}

.contact-pop-up{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(7, 5, 29, 0.712);
	&__content{
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
		height: 200px;
		background-color: $footer-bgc;
		display: flex;
		flex-direction: column;
		padding: 15px;
		justify-content: center;
		align-items: center;
		@include breakpointMax(xs){
			width: 100%;
			height: auto;
		}
	}
	&__text{
		font-size: 1.1rem;
		padding: 20px;
	}
	&__button{
		width: 120px;
		border: none;
		align-self: center;
	}
}

.page404{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 4;
	color: $font-color;
	text-shadow: $text-shadow;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__text{
		padding: 20px;
	}
	&__button{
		border: none;
		a{
			text-decoration: none;
			color: $font-color;
		}
	}
}
