.background-image{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.btn{
	padding: 10px;
	border-radius: 2px;
	background-color: $btn-bgc;
	transition: .3s;
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 500;
	color: $btn-color;
	text-transform: uppercase;
	&:hover{
		background-color: $btn-bgc-hover;
	}
}

.link{
	cursor: pointer;
	word-break: break-all;
	transition: .3s;
	text-align: left;
	@include breakpointMax(xxs){
    font-size: 1.1rem;
  }
	@include breakpointMax(xxxs){
    font-size: .9rem;
  }
	&:hover{
		color: $link-color-hover;
	}
}

.content{
	width: 100%;
	max-width: 2500px;
	height: 100%;
	position: relative;
	animation: bg .4s linear;
	@keyframes bg {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 100%;
		}
	}
}

