.settings{
  position: absolute;
  top: 50px;
  right: 40px;
  background-color: $element-bgc-color;
  z-index: 3;
  border-radius: 4px;
  padding: 20px;
  width: 160px;
  height: 75px;
  animation: settings .3s;
  transition: ease .3s;
  @include breakpointMax(md) {
    right: 70px;
  }
  &--scrolled{
    top: 60px;
  }
 /*  @include breakpointMax(sm){
    background-color: white;
    right: 85px;
  } */
  &__switch{
    position: relative;
    width: 120px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 15px;
    animation: switch .6s;
    img{
      width: 25px;
      z-index: 3;
    }
  }
  &__active-option{
    transform: translateY(-2px);
    box-sizing: content-box;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    border: solid 2px rgb(151, 151, 151);
    background-color: white;
    transition: ease .3s;
  }
  &__unit{
    z-index: 3;
  }
}

@keyframes settings {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 160px;
    height: 75px;
  }
}

@keyframes switch {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}